
:root
{
	--margin: 0px;
	--padding: 1px;
	--medium-margin: 5px;
	--big-margin: 30px;

	--sans-serif-font: sans-serif;
	--monospace-font: monospace;

	--red: #ffc8c8;
	--yellow: #fffec8;
}

body
{
	font-family: var(--sans-serif-font);
}

p
{
	margin: var(--margin);
	padding: var(--padding);

	font-family: var(--sans-serif-font);
}

label
{
	margin: var(--margin);
	padding: var(--padding);
	margin-right: var(--medium-margin);

	font-family: var(--sans-serif-font);
}

.input-textarea
{
	margin: var(--margin);
	padding: var(--padding);

	width: calc(var(--big-margin) * 7);
	
	font-family: var(--monospace-font);
}

.output-textarea
{
	margin: var(--margin);
	padding: var(--padding);
	margin-top: var(--medium-margin);

	width: calc(var(--big-margin) * 11);

	font-family: var(--monospace-font);
}

.bad-input
{
	background-color: var(--red);
}

.overflow-warning
{
	background-color: var(--yellow);
}

input[type="radio"]
{
	margin: var(--margin);
	padding: var(--padding);
}

input[type="checkbox"]
{
	margin: var(--margin);
	padding: var(--padding);
}

/*
.bin-buttons
{

}
*/

.primtype-div
{
	margin: var(--margin);
	padding: var(--medium-margin);

	border: 1px solid black;
}

.horiz-plain-line
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	margin: 0px;
	padding: 0px;
}

.horiz-plain-line > div
{
	margin-right: var(--medium-margin);
}

.vert-list
{
	display: flex;
	flex-direction: column;

	margin: 0px;
	padding: 0px;
}

.horiz-flexbox
{
	display: flex;
	flex-direction: row;

	margin: 0px;
	padding: 0px;
}

.horiz-flexbox > div
{
	margin-right: var(--big-margin);
}

.vert-flexbox
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0px;
	padding: 0px;
}

.vert-flexbox > div
{
	margin-bottom: var(--big-margin);
}

.vert-flexbox-thin
{
	display: flex;
	flex-direction: column;

	margin: 0px;
	padding: 0px;
}

.vert-flexbox-thin > div
{
	margin-bottom: var(--medium-margin);
}
